[submodule "vimrc"]
	path = vimrc
	url = git@github.com:davidneumann/vimrc.git
[submodule "tmuxconf"]
	path = tmuxconf
	url = git@github.com:davidneumann/tmuxconf.git
[submodule "gitconfig"]
	path = gitconfig
	url = git@github.com:davidneumann/gitconfig.git
