[submodule "vimrc"]
	path = vimrc
	url = git@github.com:davidneumann/vimrc.git
[submodule "tmuxconf"]
	path = tmuxconf
	url = git@github.com:davidneumann/tmuxconf.git
[submodule "gitconfig"]
	path = gitconfig
	url = git@github.com:davidneumann/gitconfig.git
[submodule "dotfiles-vscode"]
	path = dotfiles-vscode
	url = git@github.com:davidneumann/dotfiles-vscode.git
[submodule "dotfiles-macos-iterm2"]
	path = dotfiles-macos-iterm2
	url = git@github.com:davidneumann/dotfiles-macos-iterm2.git
